<div class="modal-content">
  <h4>{{proyecto.nombre}}</h4>
  <p>{{proyecto.descripcion}}</p>
</div>
<div class="modal-footer">
  <button {{action 'borrar'}}class="waves-effect waves-light btn modal-trigger">Borrar</button>
  <button {{action 'guardar'}}class="waves-effect waves-light btn modal-trigger">Guardar</button>
  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
</div>