{{outlet}}

<div class="row">
		<nav>
			<div class="nav-wrapper blue lighten-2">
			  <a href="#" class="brand-logo center"><h5>Analisis de costos</h5></a>
			</div>
		</nav>
</div>

 <div class= "container s6 offset-s3">
        
        <div class="row">
            <form class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">monetization_on</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Presupuesto de inversion</label>
                    </div>
                </div>
            </form>
        </div>

         <div class="row">
	                <table class="striped col s12">
				        <thead>
				          <tr>
				              <th>Prioridad</th>
				              <th>Proyecto</th>
				              <th>Costo</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td>A</td>
				            <td>Eclair</td>
				            <td>$0.87</td>
				          </tr>
				          <tr>
				            <td>B</td>
				            <td>Jellybean</td>
				            <td>$3.76</td>
				          </tr>
				          <tr>
				            <td>C</td>
				            <td>Lollipop</td>
				            <td>$7.00</td>
				          </tr>
				        </tbody>
	      			</table>
	     </div>
	     <div class="row">
	      			<ul class="collection with-header col s12">
				        <li class="collection-header"><h5>Proyectos prioritarios ejecutables con el presupuesto de inversión</h5></li>
				        <li class="collection-item">Proyecto A</li>
				        <li class="collection-item">Proyecto A</li>
				     
     				</ul>
        </div>
    </div>

    <footer class="page-footer blue lighten-1">
		<div class="row">
			<div class="col s2 offset-s1">
				{{#link-to 'matDecision' tagName="button" class= "btn waves-effect waves-light blue lighten-1"}}<i class="material-icons right">arrow_back</i>{{/link-to}}
			</div>
		</div>
	</footer>


