<header>
</header>

<main>
{{outlet}}
</main>

<footer class="page-footer blue lighten-1">

	<div class="row" id="footer">
		
	</div>
	<div class="row">
		<div class="col s8 offset-s2">
			<h5>Equipo:</h5>
		</div>
	</div>
	<div class="row">
		<div class="col s8 offset-s2">
			<h6> - Jacobo Sánchez Coba - Roberto Carlos Yoc Ramírez - Kevin Barrera Hernández</h6>
		</div>
	</div>
</footer>