{{outlet}}
	<div class="row">
		<nav>
			<div class="nav-wrapper blue lighten-2">
			  <a href="#" class="brand-logo center"><h5>Asignación de valores por criterio y proyecto</h5></a>
			</div>
		</nav>
	</div>

    <div class="row">
        <div class="col s8 offset-s2">
            <table>
                <thead>
                <tr>
                    <th>Criterio</th>
                    <th>Proyecto A</th>
                    <th>Proyecto B</th>
                    <th>Proyecto C</th>
                    <th>Proyecto D</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Criterio 1</td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Criterio 2</td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Criterio 3</td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Criterio 4</td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Criterio 5</td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Criterio 6</td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                        <td>
                            <div class="input col s6">
                                <input type="text" class="validate">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col s3 offset-s9">
            {{#link-to 'matDecision' tagName="button" class="btn waves-effect waves-light grey darken-1"}}Hecho{{/link-to}}
        </div>
    </div>

    <footer class="page-footer blue lighten-1">
		<div class="row">
			<div class="col s2 offset-s1">
				{{#link-to 'regProyecto' tagName="button" class= "btn waves-effect waves-light blue lighten-1"}}<i class="material-icons right">arrow_back</i>{{/link-to}}
			</div>
			<div class="col s2 offset-s7">
				{{#link-to 'asigValores' tagName="button" class= "btn waves-effect waves-light blue lighten-1"}}<i class="material-icons right">arrow_forward</i>{{/link-to}}
			</div>	
		</div>
	</footer>
