
	<div class="row">
		<nav>
			<div class="nav-wrapper blue lighten-2">
			  <a href="#" class="brand-logo center"><h5>Establecimiento de criterios</h5></a>
			</div>
		</nav>
	</div>

	<div class="row">
		<div class="container">
			<table class="striped">
				<thead>
					<tr>
						<th>Criterio</th>
						<th>Tipo</th>
						<th>Ponderación</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Duración</td>
						<td>Cuantitativo</td>
						<td><input type="number" class="validate"></td>
					</tr>
					<tr>
						<td>Valor Presente Neto (VPN)</td>
						<td>Cuantitativo</td>
						<td><input type="number" class="validate"></td>
					</tr>
					<tr>
						<td>Periodo de recuperación de l ainversión (PIR)</td>
						<td>Cuantitativo</td>
						<td><input type="number" class="validate"></td>
					</tr>
					<tr>
						<td>Riesgo</td>
						<td>Cualitativo</td>
						<td><input type="number" class="validate"></td>
					</tr>
					<tr>
						<td>Generación de teconología propietaria</td>
						<td>Cualitativo</td>
						<td><input type="number" class="validate"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="container">
            {{#link-to 'addCriterio' tagName="button" class="btn waves-effect waves-light grey darken-1"}}<i class="material-icons right">add_circle</i> Añadir criterio {{/link-to}}
		</div>
	</div>

	<footer class="page-footer blue lighten-1">
		<div class="row">
			<div class="col s2 offset-s1">
				{{#link-to 'index' tagName="button" class= "btn waves-effect waves-light blue lighten-1"}}<i class="material-icons right">arrow_back</i>{{/link-to}}
			</div>
			<div class="col s2 offset-s7">
				{{#link-to 'regProyecto' tagName="button" class= "btn waves-effect waves-light blue lighten-1"}}<i class="material-icons right">arrow_forward</i>{{/link-to}}
			</div>	
		</div>
	</footer>
