
<div class="row">
		<nav>
			<div class="nav-wrapper blue lighten-2">
			  <a href="#" class="brand-logo center">Selección de proyectos estratégicos</a>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<div class="col m6 offset-m3">
			  <div class="card">
			    <div class="card-image">
			      <img src="media/equipo.jpg">
			      
			    </div>
			    <div class="card-content">
			      <p>Este es un programa que permitirá al usuario elegir la mejor opción de entre varios proyectos, bajo los criterios que él mismo establesca</p>
			    </div>
			    <div class="card-action">
          	{{#link-to 'criterio' class= "blue-text text-darken-2"}} Comenzar {{/link-to}}
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<footer class="page-footer blue lighten-1">
		<di class="row">
			<div class="col s8 offset-s2">
				<h5>Equipo:</h5>
			</div>
		</di>
		<div class="row">
			<div class="col s8 offset-s2">
				<h6> - Jacobo Sánchez Coba - Roberto Carlos Yoc Ramírez - Kevin Barrera Hernández</h6>
			</div>
		</div>
	</footer>
