{{outlet}}
	<div class="row">
		<nav>
			<div class="nav-wrapper blue lighten-2">
			  <a href="#" class="brand-logo center"><h5>Registro de proyectos</h5></a>
			</div>
		</nav>
	</div>

    <div class="container s8 offset-s2">

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">build</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Identificador</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Descripción</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Costo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 offset-s8">
                        <button class="btn grey darken-1" type="submit" name="action">Añadir Proyecto
                            <i class="material-icons right">add_circle_outline</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col s2">
                <h6>Proyectos registrados:</h6>
            </div>
            <div class="col s10">
                <ul class="collection">
                    <li class="collection-item">Proyecto 1</li>
                    <li class="collection-item">Proyecto 2</li>
                    <li class="collection-item">Proyecto 3</li>
                    <li class="collection-item">Proyecto 4</li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="page-footer blue lighten-1">
		<div class="row">
			<div class="col s2 offset-s1">
				{{#link-to 'criterio' tagName="button" class= "btn waves-effect waves-light grey darken-1"}}<i class="material-icons right">arrow_back</i>{{/link-to}}
			</div>
			<div class="col s2 offset-s7">
				{{#link-to 'asigValores' tagName="button" class= "btn waves-effect waves-light grey darken-1"}}<i class="material-icons right">arrow_forward</i>{{/link-to}}
			</div>	
		</div>
        <div class="row"></div>
	</footer>
